.search-bar{
flex:1;
   
   padding-left: 5px;
   height:30px;
}
.search-bar::placeholder{
   font-family: roboto,arial;
   font: size 15px ;
    color: blue ;
}
.header{
    display:flex;
    flex-direction:row;
    height:40px;
    justify-content: space-between;

}
.middle{
 background-color: rgb(249, 249, 127);
 flex:1;
 margin-right:20px;
 margin-left:10px ;
 max-width: 500px;
 display:flex;
 align-items:center;
 
}
.trd2{
     height:35px; 
     width:40px;
     cursor: pointer;
     border-color: white;
border: none;
margin:2px;
}
.trd{
     height:35px; 
     width:40px;
     border-radius: 65px;
     border-color: white;
    cursor: pointer;
    border: none;
}

.left{
    background-color: rgb(254, 255, 254);
     width:250px;

}
.right{
    background-color: rgb(127, 186, 249);
    width:200px;
    
}
.fst{
height:20px;
}
.snd{
   height:20px; 
}


.frth{
   height:20px; 

} 
.fifth{
   height:20px;   
}
.six{
     height:20px; 
}
.sev{
     height:20px; 
     border-radius: 10px;
}